
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Penguin Airlines!</h2>

@Html.ActionLink("Search For Flights", "FlightSearch", "FlightSearch", new { area = "" }, new { @class = "btn btn-success" })







