
@{
    ViewBag.Title = "Cancelled";
}

<h1>'</h1>
<h2>Cancelled</h2>

<div>
    <h3>
        Sorry, this flight has been cancelled,
        No more reservations or changes to this flight can be made
    </h3>

</div>
<div>@Html.ActionLink("Take me back to all flights", "Index", "Flights", new { area = "" }, new { @class = "btn btn-default" })</div>
